@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #ff652f;
  background: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.8rem;
}

.squares {
  background: #272727;
  border: none;
  font-size: 5.5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
  font-weight: 600;
}
.O {
  color: green;
  font-weight: 600;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.h3 {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.bigDisplay {
  font-size: 1.8rem;
  padding: 1.2rem;
  font-weight: 600;
  animation-name: winning;
  animation-duration: 3.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

.info-wrapper button {
  background: white;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  width: 7rem;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 7px;
  margin: 1.2rem 1rem;
  transition: all 0.3s ease;
}
.info-wrapper button:hover {
  opacity: 0.8;
  background-color: #ff652f;
  color: #272727;
}

@keyframes winning {
  0% {
    color: white;
  }
  25% {
    color: #1da2dc;
    transform: translateX(-30px);
  }
  50% {
    color: #f05561;
    transform: translateY(25px);
  }
  75% {
    color: #fee851;
    transform: translateX(30px);
  }
  100% {
    color: #35b997;
    transform: translateY(-10px);
  }
}
